
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>하수처리장 자가진단 프로그램</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


</head>
<body>
    <div class = "container">
        <form action = "{% url 'create' %}">
            하수처리장 자가진단 프로그램(made by HoJin)
            <br>
            <br>
            <input type="text" placeholder="이름을 입력하세요." name="name">
            <br>
            <br>
            생물반응조 유입유량, 유출유량을 입력해주세요.(m3/d)
            <br>
            <input type="number" placeholder="유입유량" max="10000000" min="0"  step="0.01" name="wasteInflow">
            <br>
            <input type="number" placeholder="유출유량"  max="10000000" min="0"  step="0.01" name="wasteOutflow">
            <br>
            <br>

            생물반응조 목표제거율을 입력해주세요.(%)
            <br>
            <input type="number" placeholder="BOD제거율" max="100" min="0"  step="0.01" name="targetBOD">
            <br>
            <input type="number" placeholder="TSS제거율"  max="100" min="0"  step="0.01" name="targetTSS">
            <br>
            <input type="number" placeholder="TN제거율"  max="100" min="0"  step="0.01" name="targetTN">
            <br>
            <input type="number" placeholder="TP제거율"  max="100" min="0"  step="0.01" name="targetTP">
            <br>
            <br>
            생물반응조 유입수질을 입력해주세요.(mg/L)
            <br>
            <input type="number" placeholder="유입BOD" max="1000" min="0"  step="0.1" name="wasteInputBOD">
            <br>
            <input type="number" placeholder="유입TSS"  max="1000" min="0"  step="0.1" name="wasteInputTSS">
            <br>
            <input type="number" placeholder="유입TN"  max="1000" min="0"  step="0.01" name="wasteInputTN">
            <br>
            <input type="number" placeholder="유입TP"  max="1000" min="0"  step="0.001" name="wasteInputTP">
            <br>
            <br>
            생물반응조 유출수질을 입력해주세요.(mg/L)
            <br>
            <input type="number" placeholder="유출BOD"  max="1000" min="0"  step="0.1" name="wasteOutputBOD">
            <br>
            <input type="number" placeholder="유출TSS"  max="1000" min="0"  step="0.1" name="wasteOutputTSS">
            <br>
            <input type="number" placeholder="유출TN"  max="1000" min="0"  step="0.01" name="wasteOutputTN">
            <br>
            <input type="number" placeholder="유출TP"  max="1000" min="0"  step="0.001" name="wasteOutputTP">
            <br>
            <input type="submit" value="제출">
        <br>
        <br>
        </form>

        <form action = "{% url 'chart' %}">
            제출한 이름을 입력하고 자기진단 결과를 확인하세요.
            <br>
            <input type=text placeholder="제출한 이름" name="id">
            <br>
            <button type=submit >결과확인</button>
        </form>
    </div>
    

</body>
</html>